/* Common styles*/

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.title {
  color: white;
}

.button-apply {

  background-color: #0070AF;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;

}

.button-apply:hover {
  background-color: #043d5e;
}

/*to make the chart bigger*/
#chart {
  height: 400px;
}

.navbar{
  background-color: #0070AF;
}

