<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!--navbar-->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <h1 class="title">SDG-Interview</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    <!--select for changing chart-->
                    <li class="nav-item p-2">
                        <select class="form-select" (change)="changeSelectChart($event)">
                            <option selected value="bar">Bar chart</option>
                            <option value="pie">Pie chart</option>
                            <option value="cards">Cards</option>
                        </select>
                    </li>

                    <!--select for changing continent-->
                    <li class="nav-item p-2">
                        <select class="form-select" (change)="changeSelectContinent($event)">
                            <option selected value="continent">Select continent</option>
                            <option value="Europe">Europe</option>
                            <option value="Asia">Asia</option>
                            <option value="Africa">Africa</option>
                            <option value="Oceania">Oceania</option>
                            <option value="North America">North America</option>
                            <option value="South America">South America</option>
                            
                            
                        </select>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <h1 class="text-center">World population distribution by continents</h1>
                <div class="slider-div d-flex justify-content-center align-items-center">
                    <p class="me-2 mt-3">Filter by population</p>
                    <!--slider to filter by population-->
                    <mat-slider class="slider" min="0" max="7000000000" >
                        <input value="0" matSliderStartThumb (input)="inputChangeMin($event)">
                        <input value="7000000000" matSliderEndThumb (input)="inputChangeMax($event)">
                    </mat-slider>
                    <button class="ms-2 button-apply" (click)="applySlider()">Apply</button>
                </div>
                
                
            </div>
        </div>

        <!--values of the slider-->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-6">
                <div class="values-slider d-flex justify-content-around align-items-center">
                    <p>Min: {{minSlider}}</p>
                    <p>Max: {{maxSlider}}</p>
                </div>
            </div>
        </div>
    </div>

    <!--cards grid-->
    <div class="container" *ngIf="showCarts">
        <div class="row " >
            <div class="col-12 col-md-4 p-2" *ngFor="let population of populationsFilter">
                <div class="card-population p-2">
                    <p class="continent-name">{{population.name}}</p>
                    <p>{{population.population}} people</p>
                </div>


            </div>
        </div>

        
    </div>

    <!--container to show the chart-->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="chart-div">
                    <canvas id="chart"></canvas>
                </div>
            </div>
        </div>
    </div>



    
        
    
</body>

</html>