
.navbar{
    background-color: #0070AF;
}

.card-population{
    background-color: #0070AF;
    color:white;
    border-radius:10px;
}

.slider{
    width: 500px;
}

.button-apply{
    
    background-color: #0070AF;
    border:none;
    border-radius: 10px;
    padding:10px;
    color:white;
    
}

.hide-chart{
    visibility: hidden;
  }
  
 
.show-chart {
    visibility: visible;
  }


  #myChart{
    height:400px;
  }