<body>
    <div class="row">
        <div class="col">
            <div class="slider-div d-flex justify-content-center align-items-center">
                <p class="me-2 mt-3">Filter by population</p>
                <!--slider to filter by population-->
                <mat-slider class="slider" min="0" max="{{maxLimit}}">
                    <input value="0" matSliderStartThumb (input)="inputChangeMin($event)">
                    <input value="{{maxLimit}}" matSliderEndThumb (input)="inputChangeMax($event)">
                </mat-slider>
                <button class="ms-2 button-apply" (click)="applySlider()">Apply</button>
            </div>
        </div>
    </div>

    <!--values of the slider-->
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-6">
            <div class="values-slider d-flex justify-content-around align-items-center">
                <p>Min: {{minSlider}}</p>
                <p>Max: {{maxSlider}}</p>
            </div>
        </div>
    </div>
</body>

