<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <h1>SDG-Interview</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item p-2 ">
                        <select class="form-select" (change)="changeSelectChart($event)">
                            <option selected value="bar">Bar chart</option>
                            <option value="table">Table</option>
                            <option value="cards">Cards</option>
                        </select>
                    </li>
                    <li class="nav-item p-2 d-flex justify-content-center">
                        <a class="return-a d-flex justify-content-center align-items-center flex-col" href="/">Return to continents</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Population distribution in {{continent}}</h1>
                <div class="slider-div d-flex justify-content-center align-items-center">
                    <p class="me-2 mt-3">Filter by population</p>
                    <mat-slider class="slider" min="0" max="1500000000" >
                        <input value="0" matSliderStartThumb (input)="inputChangeMin($event)">
                        <input value="1500000000" matSliderEndThumb (input)="inputChangeMax($event)">
                    </mat-slider>
                    <button class="ms-2 button-apply" (click)="applySlider()">Apply</button>
                </div>
                
                
            </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-6">
                <div class="values-slider d-flex justify-content-around align-items-center">
                    <p>Min:{{minSlider}}</p>
                    <p>Max:{{maxSlider}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="showChart=='bar'">
        <div class="row">
            <div class="col">
                <div class="chart-div">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>


    <div class="container" *ngIf="showChart=='table'">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name of the country</th>
                        <th scope="col">Population</th>
                        <th scope="col">Flag</th>
                        <th scope="col">Capital</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let country of countriesFilter" >
                        <td>{{country.name}}</td>
                        <td>{{country.population}}</td>
                        <td><img [src]="country.flag" class="image-table"/></td>
                        <td>{{country.capital}}</td>
                      </tr>
                     
                    </tbody>
                  </table>
            </div>
        </div>
    </div>


    <div class="container" *ngIf="showChart=='cards'">
        <div class="row " >
            <div class="col-12 col-md-4 p-2" *ngFor="let country of countriesFilter">
                <div class="card-population p-2 d-flex justify-content-center align-items-center flex-column">
                    <img [src]="country.flag" class="image-card"/>
                    <p class="country-name">{{country.name}}</p>
                    <p>{{country.population}} people</p>
                    <p>{{country.capital}}</p>
                </div>


            </div>
        </div>

        
    </div>

    
    
</body>
</html>




