

.return-a{
    
    background-color:white;
    border:none;
    border-radius: 10px;
    padding:5px;
    text-decoration: none;
    color:black;
    
}

.return-a:hover{
    background-color:#69aeeb;
    color:white;
}

.image-table{
    width:100px;
    
}

td{
    font-size: 20px;
    vertical-align: middle;
}

.card-population{
    background-color: #0070AF;
    color:white;
    border-radius:10px;
    height:100%;
}

.image-card{
    width:150px;
}

.country-name{
    font-size: 30px;
    font-weight: bold;
}

.slider{
    width: 500px;
}



